<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>zh_CN</string>
    <key>CFBundleDisplayName</key><string>灵犀右键</string>
    <key>CFBundleExecutable</key><string>VibeRight</string>
    <key>CFBundleIdentifier</key><string>com.vibecoding.VibeRight</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>VibeRight</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.1.0</string>
    <key>CFBundleSupportedPlatforms</key><array><string>MacOSX</string></array>
    <key>CFBundleVersion</key><string>1</string>
    <key>LSApplicationCategoryType</key><string>public.app-category.utilities</string>
    <key>LSMinimumSystemVersion</key><string>13.0</string>
    <key>LSUIElement</key><true/>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key><dict><key>default</key><string>使用百度翻译</string></dict>
            <key>NSMessage</key><string>translateWithBaidu</string>
            <key>NSPortName</key><string>VibeRight</string>
            <key>NSRequiredContext</key><dict><key>NSServiceCategory</key><string>Text</string></dict>
            <key>NSSendTypes</key><array><string>public.plain-text</string><string>NSStringPboardType</string></array>
        </dict>
        <dict>
            <key>NSMenuItem</key><dict><key>default</key><string>使用谷歌翻译</string></dict>
            <key>NSMessage</key><string>translateWithGoogle</string>
            <key>NSPortName</key><string>VibeRight</string>
            <key>NSRequiredContext</key><dict><key>NSServiceCategory</key><string>Text</string></dict>
            <key>NSSendTypes</key><array><string>public.plain-text</string><string>NSStringPboardType</string></array>
        </dict>
        <dict>
            <key>NSMenuItem</key><dict><key>default</key><string>生成二维码（灵犀右键）</string></dict>
            <key>NSMessage</key><string>generateQRCode</string>
            <key>NSPortName</key><string>VibeRight</string>
            <key>NSRequiredContext</key><dict><key>NSServiceCategory</key><string>Text</string></dict>
            <key>NSSendTypes</key><array><string>public.plain-text</string><string>NSStringPboardType</string></array>
            <key>NSReturnTypes</key><array><string>public.png</string><string>public.tiff</string></array>
        </dict>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key><string>Viewer</string>
            <key>CFBundleURLSchemes</key><array><string>viberight</string></array>
        </dict>
    </array>
</dict>
</plist>
